.bgHome{
    img{
        position: absolute; 
        top: 64px; 
        left: 0; 
        right: 0; 
        bottom: 0;
        width: 100% !important;
        height: 300px;
    }

}
.contentHome{
    margin: 280px 0px 0px 0px;
    padding: 10px 0px;
    clear: both;
    left: 0px;
    text-align: center;
    .feature{
        font-size: 18px;
        .picFeature{
            width: 25%;
            margin: 0px auto 20px auto;
        }
        p{
            width: 50%;
            margin: 0px auto;
            font-size: 14px;
            padding: 10px;
        }
    }
}

.bannerHome{
    position: absolute;
    left: 110px;
    h1{
        font-size: 40px;
    }
    p{
        width: 80%;
        font-size: 15px;
    }
}