.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0p auto;
}

.navBarMenu{
    // float: right !important;
}

.logoWeb{
    width: 150px;
    margin: 7px 0px 7px 50px;
}